html {
	height: 100%;
}

body {
	margin: auto;
}

main {
	max-width: 960px;
}

.head__item {
	color: #7c7c7c;
}

.header__nav {
	display: flex;
	justify-content: space-between;
	padding: 40px;
}

.header {
	width: 100%;
	justify-content: center;
	align-items: center;
	padding-bottom: 20px;
	background-color: rgb(234, 103, 177);
}

footer {
	width: 100%;
	background-color: chartreuse;
}

.head__list {
	display: flex;
	gap: 50px;
}

.head__item {
	transition: border-bottom 0.4s ease;
}

ul {
	list-style: none;
	padding-right: 40px;
}

.name {
	text-align: center;
}

main {
	justify-content: center;
	text-align: center;
	background-color: beige;
	max-width: 960px;
	margin: auto;
}

ol {
	list-style-type: none;
	padding-left: 0; /* Убирает отступы */
}

table {
	width: 40%;
	border-collapse: collapse;
	text-align: center;
	margin: auto;
}

td {
	border: 2px solid black;
	padding: 10px;
	font-size: 18px;
}

th {
	border: 2px solid black;
	padding: 10px;
	font-size: 18px;
	background-color: white;
}

td:nth-child(odd) {
	background-color: rgb(33, 203, 69);
	color: white;
}

td:nth-child(even) {
	background-color: rgb(10, 167, 136);
	color: blue;
}

a {
	text-decoration: none;
}

header {
	background-color: #7c7c7c;
}
